body {
    background-color: #4aa5cf;
    opacity: 50%;

}

h1 {
    border: 2px solid #fde642;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: #49525a 25px;
}

footer {
    border: solid 3px #fde642;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: 5px;
    display: block;
}


@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 1281px) {

}