body {
    background-color: #4aa5cf;
    opacity: 50%;
}

h1 {
    border: 10px solid #fde642;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: #49525a;
    font-size: 35px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: #49525a;
    font-size: 14px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #fde642 solid 3px;

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #fde642 solid 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;   
}